body {
	background: black;
}

* {
	min-height: 10px;
}
p {
	color: blue;
}

.postcard {
	background-color: white;
	width: 400px;
	margin: auto;
	padding: 10px;
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	width: 400px;
	margin: 9px;
}

.postcard-body {
	display: flex;
	flex-direction: row;
}

.body-left p:first-child {
	margin-top: 0;
}

.body-left,
.body-right {
	padding: 10px;
	flex: 1;
}

input {
	border: none;
	border-bottom: 5px;
}

p {
	font-size: 20px;
}

.postcard-footer {
	text-align: center;
}

button {
	background-color: grey;
	color: black;

	padding: 10px;
}
.body-left {
	padding: 10px;
	display: flex;
	flex-direction: column; /* Añadido para apilar elementos verticalmente */
	align-items: center; /* Añadido para centrar horizontalmente */
}
